a {
    text-decoration: none;
}

.logo {
    padding: 10px 0px;
}

.logo img {
    height: 85px;
}

.bg-nav,
footer {
    background-color: #1e3769 !important;
}

.bg-nav a {
    color: white;
    font-weight: 600;
    text-decoration: none;
}

.parent {
    min-height: 100vh;
    height: 100%;
}

.menu {
    height: 100%;
    background-color: rgb(209, 209, 209);

}

.menu a {
    font-weight: 500;
    background-color: rgb(209, 209, 209);
}





/* admin */
.search:hover {
    background-color: aqua;
}